:root {
    --border: 2px solid red;
    --border2: 2px solid green;
    --border3: 2px solid blue;
}

button {
  /*justify-content: center;
  margin: 1em;
  display: inline-block;
  */border: var(--border);
  display: inline-block;
  border-radius: 4px;
  background-color: black;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  /*padding: 20px;
  */width: 100px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 150px;
  -webkit-transition:;
  -moz-transition:;
  -ms-transition:;
  -o-transition:;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}

body {
    
    margin: 0;
    padding: 0;
    background-image: linear-gradient( rgb(0, 0, 0) 0%, rgb(235, 226, 226) 50% ,  gray 100%);
}

.input {
    justify-content: center;
    border:var(--border2);
    position: relative;
    left: 33%;
}

.texto {
    margin: 30px 0 30px 0 ;
    justify-content: center;
    text-align: center;
    font-size: smaller;
    margin: 0;
    padding: 0;
    border: var(--border)
    
}

#root {
    border: var(--border3);
    text-decoration: none;
    
    height: 100%;
}

.listas-item {
    border: var(--border2);
    
}

.lista {
    border: var(--border1);
}